* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: darkviolet;
  background-color: aquamarine;
}

header {
  position: sticky;
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  padding: 24px 0;
}

#funcionamento {
  font-size: 0.85rem;
  font-style: italic;
}

button {
  padding: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

main {
  min-height: 65vh;
}

#conteudo-central {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#menu-criar-tarefa {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

#lista-tarefas {
  margin-right: auto;
  margin-left: auto;
  max-width: 620px;
}

#lista-tarefas > li {
  padding: 4px;
  border: 1px solid black;
  margin-bottom: 8px;
}

.task {
  user-select: none;
  cursor: pointer;
}

.selected {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid black;
}

#menu-acoes {
  float: left;
  margin-left: 36px;
}

#menu-acoes > * {
  display: block;
  margin-bottom: 12px;
  margin-right: 80px;
}

footer {
  text-align: center;
  margin-top: 24px;
  padding-top: 10px;
  border-top: 1px solid antiquewhite;
}
