* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('rsz_planners02.png');
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-position: 20% 80%;
  background-size: cover;
}

.container-list-task {
  border: 1px solid black;
  width: 500px;
  height: 100px;
  margin: 0 auto;
}

.header h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 10px;
}

#funcionamento {
  text-align: center;
}

#texto-tarefa {
  align-items: center;
  margin: 10px;
  height: 25px;
  width: 80%;
}

.container-task {
  padding-top: 12px;
}

.container-buttons {
  margin: 10px;
}

#criar-tarefa {
  background-color: darkcyan;
  color: white;
}

.list-container {
  padding-left: 10%;
  padding-top: 10px;
  font-size: 1.5rem;
}

#apaga-tudo {
  background-color: darkred;
  color: white;
}

#remover-finalizados {
  background-color: coral;
  color: white;
}

.selected {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

.footer {
  text-align: center;
  border-top: 1px solid #333;
  bottom: 0;
  height: 40px;
  width: 100%;
  position: fixed;
  color: gray;
}
