* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px;
}

p {
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(250 , 250 , 250);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell;
}

#main-container {
  text-align: center;
  background: url('Wallpaper_06.png');
  background-blend-mode: multiply;
  width: 100%;
  border-radius: 10px;
  height: 100vh;
}

.completed {
  text-decoration: line-through;
}

#lista-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lis {
  font-family: monospace;
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#lista-tarefas {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  width: 70rem;
  margin: 20px;
  text-align: center;
  background-color: white;
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#texto-tarefa {
  border: 2px solid red;
  border-radius: 4px;
  max-width: 70rem;
  width: 70rem;
  height: 50px;
  text-align: center;
}

#texto-tarefa:hover {
  border: solid 2px rgb(108 , 235 , 108) ;
}

#criar-tarefa {
  transition-duration: 0.4s;
  border: solid black 1px;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 20px;
}

#criar-tarefa:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#apaga-tudo {
  transition-duration: 0.4s;
  border: solid black 1px;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 20px;
}


#apaga-tudo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#remover-finalizados {
  transition-duration: 0.4s;
  border: solid black 1px;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 20px;
}

#remover-finalizados:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#salvar-tarefas {
  transition-duration: 0.4s;
  border: solid black 1px;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 20px;
}

#salvar-tarefas:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#remover-tarefas-salvas {
  transition-duration: 0.4s;
  border: solid black 1px;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 20px;
}

#remover-tarefas-salvas:hover {
  transform: scale(1.2);
  cursor: pointer;
}


#remover-tarefas-selecionadas {
  transition-duration: 0.4s;
  border: solid black 1px;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 20px;
}

#remover-tarefas-selecionadas:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#down {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}

#up {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}

.contact {
  margin: 50px;
}

.contact-div {
  margin: 5px;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.contact-div li {
  list-style: none;
}

.contact-div a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

