/* O efeito de InnerShadow no body foi realizado através de um
* resultado obtido no site CSS Tricks sobre Box Shadow
* Source: https://css-tricks.com/snippets/css/css-box-shadow/ */

body {
  background-color: rgba(11 , 61 , 197 , 0.829);
  box-shadow: inset 0 0 10px black;
}

.selecionado {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}
