body {
  background-color: black;
  margin: 50px auto;
  text-align: center;
  font-family: Courgette, sans-serif;
  color: white;
  font-style: italic;
  font-size: 25px;
}

section {
  background-color: grey;
  border-radius: 10px;
  padding: 15px;
  width: 75%;
  margin: auto;
  box-shadow: 5px 5px 10px grey;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}
