* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0 , 162 , 255);
  font-family: 'Indie Flower', sans-serif;
}

h1 {
  font-size: 50pt;
}

header {
  text-align: center;
  margin: 0;
  background-color: orange;
  padding: 20px;
  border: 5px solid black;
}

#funcionamento {
  font-size: 25px;
}

#texto-tarefa {
  position: relative;
  width: 400px;
  font-size: 30px;
  padding: 8px;
  left: 700px;
}

#lista-tarefas {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

li {
  word-break: break-word;
  background-color: white;
  border: 1px solid black;
  size: 300px;
  position: inside;
  font-size: 30px;
}

main {
  padding: 20px;
}

.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: gray;
}

#toAdd {
  border: 20px;
  font-size: 20px;
  margin: 0 auto;
}

/* Button Adicionar tarefa */
#criar-tarefa {
  position: relative;
  display: inline-block;
  top: -5px;
  left: 700px;
  background-color: greenyellow;
}

/* Seção de Buttons */
.buttons {
  display: inline-block;
  position: relative;
  left: 650px;
 
}

/* Estilizando todos Botões */
button {
  font-family: 'Indie Flower', cursive;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;
}

#apaga-tudo {
  background-color: rgb(196 , 196 , 196);
}

#remover-finalizados {
  background-color: rgb(250 , 123 , 123);
}

#salvar-tarefas {
  background-color: orange;
}

#mover-cima {
  background-color: rgb(248 , 248 , 108);
}

#mover-baixo {
  background-color: rgb(248 , 248 , 108);
}

#remover-selecionado {
  background-color: rgb(250 , 123 , 123);
}
